---
layout: page
title: Hello PPxu！
tagline: 你知道，就算大雨让这座城市颠倒，我会给你怀抱
---
{% include JB/setup %}

<div class="swf">
    <canvas id="cnvs" width="940" height="117"></canvas>
</div>
<div class="row">
<div class="span8">

<h2>最新文章</h2>
<hr />

{% for post in site.posts limit: 1  %}
<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
<div class="list"><time>{{ post.date | date:"%Y年%m月%d日" }}</time></div>
<p>{{ post.content }} <a class="btn" href="{{ post.url }}">查看评论</a></p>
{% endfor %}

<hr />
<h2>以往文章</h2>
<br />

<ul>
  {% for post in site.posts limit: 5 offset: 1 %}
  <li class="list">
    <time>{{ post.date | date:"%Y年%m月%d日" }}</time> <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>

<a class="btn btn-primary" href="/archive.html">更多文章</a>

</div>

<div class="span4">
  <div class="weibo">
  	<iframe width="100%" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=400&fansRow=2&ptype=1&speed=0&skin=2&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=1276446107&verifier=acf6b5a8&dpc=1"></iframe>
  </div>
  <h3>最近发表</h3>
  <ul class="unstyled">
    {% for post in site.posts limit: 5 %}
    <li class="list">
      <span class="badge badge-info">{{ forloop.index }}</span><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <h3>文章类别</h3>
  <ul class="tag_box clearfix">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
  </ul>
  <h3>标签</h3>
  <ul class="tag_box clearfix">
  {% assign tags_list = site.tags %}
  {% include JB/tags_list %}
  </ul>
  <h3>链接</h3>
  <ul class="unstyled">
    <li><i class="icon-cog"></i><a href="https://github.com/ppxu/ppxu.github.com">source code</a></li>
  </ul>
</div>
</div>